{# page d'acceuil #}

{% embed 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>Bienvenue sur notre super blog !</h1>
        <p>Sur ce blog on peut regarder des articles et si on se connecte on peut faire plein de choses super comme ajouter des articles ou bien les commenter afin de faire partie intégrante de la communauté </p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Se connecter</a>
            <a class="btn btn-primary btn-lg jbbutton" href="{{ path('article_list') }}" role="button">Voir tous les articles</a>
        </p>
    </div>


    <h1>Les 3 derniers articles publiés</h1>

    {% for article in articles %}
        <div class="article">

            <h2><a href="{{ path('article_show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>

            <h5>Article publié par {{ article.author.login }} le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i:s") }}</h5>
            <hr>
            {{ article.text }}
        </div>
    {% endfor %}
{% endblock %}

{% endembed %}

