{# page d'acceuil #}

{% embed 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>Bienvenue sur notre super blog !</h1>
        <p>Sur ce blog vous pouvez regarder les articles publiés par les administrateurs et si vous vous connectez avec votre compte vous pouvez les commenter afin de participer à la vie du blog et ainsi faire partie intégrante de notre communauté !</p>
        <p>
            {% if app.user %}
                <a class="btn btn-primary btn-lg" href="{{ path('logout') }}" role="button">Se déconnecter</a>
                {% else %}
                <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Se connecter</a>
            {% endif %}
                    <a class="btn btn-primary btn-lg jbbutton" href="{{ path('article_list') }}" role="button">Voir tous les articles</a>

            {#<a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Se connecter</a>
            <a class="btn btn-primary btn-lg jbbutton" href="{{ path('article_list') }}" role="button">Voir tous les articles</a>#}
        </p>
    </div>


    <h1>Les 3 derniers articles publiés</h1>

    {% for article in articles %}
        <div class="article">

            <h2><a href="{{ path('article_show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>

            <h5>Article publié par {{ article.author.login }} le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i:s") }}</h5>
            <hr>
            {{ article.text | raw}}
        </div>
    {% endfor %}
{% endblock %}


{% endembed %}

