{% embed 'base.html.twig' with {title : article.title} %}

    {% block body %}
        <a href="{{ path('article_list') }}" class="btn btn-default" >Revenir à tous les articles</a>
        
        <h1 class="article-title">{{ article.title }}</h1>
        <h5>Publié par {{ article.author.login }} le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i:s") }}</h5>

        <hr>

        {{ article.text }}

        <hr>

        <label for="com"> Laissez nous un commentaire !</label>

        {# Si l'utilisateur est connecté #}
        {% if app.user %}
            <form action="{{ path('comment_new', {'slug': article.slug}) }}" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="commentaire" id="com"{# cols="30" rows="10"#} placeholder="Votre commentaire"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Publier commentaire</button>
            </form>

            {% else %}
            <p>Vous devez être connecté pour laisser un commentaire</p>

        {% endif %}


        {% for comment in article.commentaires | reverse %}
                {{ comment.author.login }}
                {{ comment.createdAt | date("d/m/Y - H:i:s")}}
                {{ comment.message }}
            <br>

        {% endfor %}
    {% endblock %}
{% endembed %}