{% embed 'base.html.twig' with {title : article.title} %}

    {% block body %}
        <a href="{{ path('article_list') }}" class="btn btn-default" >Revenir à tous les articles</a>
        
        <h1 class="article-title">{{ article.title }}</h1>
        <h5>Publié par {{ article.author.login }} le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i:s") }}</h5>

        <hr class="separateur">

        {{ article.text | raw}}

        <hr class="separateur">

        <h3 class="h3-comment">Laissez nous un commentaire !</h3>

        {# Si l'utilisateur est connecté #}
        {% if app.user %}
            <form class="form-comment" action="{{ path('comment_new', {'slug': article.slug}) }}" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="commentaire" id="com"{# cols="30" rows="10"#} placeholder="Votre commentaire"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Publier commentaire</button>
            </form>

            {% else %}
            <p>Vous devez être connecté pour laisser un commentaire</p>

        {% endif %}

        <hr class="separateur">

        <h3>Commentaires</h3>

        {% if article.commentaires is empty %}
            <p>Aucun comentaire n'a été posté pour le moment</p>
            {% else %}
                {% for comment in article.commentaires | reverse %}
                    <div class="comment">
                        <p>Commentaire de {{ comment.author.login }} le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i:s") }} </p>
                        <hr>
                        <p> {{ comment.message }} </p>
                    </div>
                {% endfor %}
        {% endif %}
    {% endblock %}
{% endembed %}