<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MiniBlog - {{ title | default('Accueil') }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            {% if app.user %}<a href="{{ path('logout') }}">Se déconnecter</a>{% else %}<a href="{{ path('login') }}">Se connecter</a>{% endif %}
            {% if is_granted("ROLE_ADMIN") %} <a href="{{ path('admin_article_add') }}">Ajouter un article</a> <a href="{{ path('admin_article_index') }}">Gérer les articles</a>
            {% endif %}
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
